@import "normalize.min.css";
body {
    /*background-image: url('../img/background.webp');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    /* navigation header layout border design*/
    /*Flexboxes for positioning the navigation links*/
    display: -webkit-flex; /*Googlechrome*/
    display: -moz-flex; /*mozilla firefox*/
    display: -ms-flex; /*microsoft internet explorer*/
    display: -o-flex; /*opera*/
    display: flex; /* Display flebox a container that expands items to fill available free space or shrinks them to stop congestion*/
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: black;
    padding: 15px 70px;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
}

header a {
    text-decoration: none;
    color: #fff;
}

/*Archane Games Title Uppercase*/
header h2 {
    list-style: none;
    text-transform: uppercase;
    color: white;
} 
    
h3, .g-price {
    font-size: 20px;
    /*font-size: 32px;*/
    font-weight: 700;
    margin-bottom: 50px;
}
    
.g-price {
    margin: 8px 60px;
}
    
.container {
    width: 100%;
    /*max-width: 780px;*/
    margin: 0 auto;
    /*padding: 0 10px;*/
    display: flex;
    justify-content: space-between;
}
    
@media (max-width: 950px) {
    .container {
        display: block;
    }
}      
    
.screen-togo, .screen-cart {
/*width: 500px;*/
    width:100%;
    height: auto;
    /*max-height: 770px;*/
    overflow: scroll;
    border-radius: 20px;
    background: white;
    padding-top: 30px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
    
ul {
    padding: 0;
    list-style: none;
}
    
.game-avail {
    background: #E4F0FD;
    border-radius: 20px 0 0 20px;
    margin: 30px 0;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 10px;
    position: relative;
}
    
.game-avail:nth-child(2n) {
    background: #FBE4F0;
}

.game-avail:nth-child(3n) {
    background: #F7F7FE;
}

.game-avail:nth-child(4n) {
    background: #E4FDF1;
}

.game-avail img {
    width: 200px;
  
    position: absolute;
    bottom: 5px;
    left: -2px;
    border-radius: 20px;
}

.game-avail .add-button {
    position: absolute;
    border: none;
    background: #6B00F5;
    margin: 8px 60px;
    padding: 6px 20px 4px;
    border-radius: 20px;
    color: white;
        font-weight: 700;
        font-size: 16px;
        bottom: -10px;
        left: 150px;
        transition: all 0.3s;
    }
    
    .game-avail .add-button:hover {
        background: #5815AE;
    }

    .game-dets {
        margin-left: 150px;
        padding-bottom: 15px;
    }
    
    .game-heading {
        font-size: 18px;
        margin: 10px 60px 12px;
    }
    
      .screen-cart {
        padding-right: 30px;
      }
    
      @keyframes fadeIn {
        from {
          opacity: 0;
          transform: translate(10px);
        }
        to {
          opacity: 1;
          transform: translate(0);
        }
      }

      .cart-item {
        display: flex;
        align-items: flex-start;
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid #D7D7F9;
        animation: fadeIn 0.3s;
      }

      .cart-item:last-child {
        border-bottom: 5px solid #D7D7F9;
      }

      .cart-item img {
        width: 200px;
        border-radius: 20px;
      }

      .cart-item .g-price {
        font-size: 24px;
      }
    
      .cart-item-dets {
        margin-left: 15px;
        width: 100%;
      }
    
      .cart-item-heading {
        /*margin: 10px 0;*/
        font-size: 18px;
        margin: 10px 60px 12px;
      }
    
      .cart-math-item {
        margin: 5px 0;
        font-weight: 700;
      }

      .cart-math-item span {
        display: inline-block;
        text-align: right;
      }

      .cart-math-item .cart-math-header {
        width: 50%;
      }

      .cart-math-item .g-price {
        width: 40%;
      }

      /* styling for checkout form*/
      .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
      }

      /* The popup form - hidden by default */
      .form-popup {
        /*margin: auto;*/
        float: right;
        display: none;
        /*position: fixed;*/
        position: fixed;
        /*bottom: 450px;*/

        bottom: 10px;
        /*right: 15px;*/
        border: 3px solid #f1f1f1;
        z-index: 9;
      }

      /* Add styles to the form container */
      .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        margin: 0 -16px;
        
      }

      .col-25 {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
      }

      .col-50 {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
      }

      .col-75 {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
    }

      .col-50,
      .col-75 {
        padding: 0 16px;
      }

      .form-container {
        
        /*margin: auto;*/
        width: 60%;
        height: auto;
        display: inline-block;
        padding-bottom: 20px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /*max-width: 300px;*/
        /*padding: 350px;*/
        background-color: white;
        
      }
    
      /* Full-width input fields */
      .form-container input[type=text], .form-container input[type=password] {
        
        /*margin: auto;*/
        width: 100%;
        height: auto;
        
        /*display: flex;
        justify-content: center;
        align-items: center;
        /*padding: 15px;*/
        /*margin: 5px 0 22px 0;*/
        margin: 6px;
        padding-bottom: 0;
        border: none;
        background: #f1f1f1;
      }
    
      /* When the inputs get focus, do something */
      .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }

      /* Set a style for the checkout button */
      .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
      }

      /* Add a red background color to the cancel button */
      .form-container .cancel {
        background-color: red;
      }
    
      /* Add some hover effects to buttons */
      .form-container .btn:hover, .open-button:hover {
        opacity: 1;
      }