@import "normalize.min.css";
* {
  box-sizing: border-box;
}
	
body {
  font-family: Arial, Helvetica, sans-serif;
}
	
/* Float five columns side by side */
.column1 {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.column2 {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.column3 {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.column4 {
  float: left;
  width: 25%;
  padding: 0 10px;
}
	
/* Remove extra left and right margins, due to padding */
.row1 {margin: 0 -5px;}
.row2 {margin: 0 -5px;}
.row3 {margin: 0 -5px;}
.row4 {margin: 0 -5px;}

/* Clear floats after the columns */
.row1 :after {
  content: "";
  display: table;
  clear: both;
}
.row2 :after {
  content: "";
  display: table;
  clear: both;
}

.row3 :after {
  content: "";
  display: table;
  clear: both;
}

.row4 :after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 576px) {
  .column1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .column2 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .column3 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .column4 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}  
  
    


@media (min-width: 768px ){
  .column1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .column2 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .column3 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .column4 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
@media (min-width: 992px ){
  .column1 {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
  .column2 {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
  .column3 {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
  .column4 {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px ){
  .column1 {
    width: 25%;
    display: block;
    margin-bottom: 20px;
  }
  .column2 {
    width: 25%;
    display: block;
    margin-bottom: 20px;
  }
  .column3 {
    width: 25%;
    display: block;
    margin-bottom: 20px;
  }
  .column4 {
    width: 25%;
    display: block;
    margin-bottom: 20px;
  }
  
}
	
/* Style the counter cards */
.card {	  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
	
/* Style the pictures*/
img {
  max-width: 100%;
  height: auto;     

}
/* Style the button */
.card button{
  border: none;	
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 15px
	  
}
/* Style the game title*/
.gameTitle{
  font-size: 20px;
  padding: 20px;
  text-align: center;	
}

/* Style the price*/
.price {
  font-size: 15px;	
}

/* Style the header*/
header {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
/* navigation header layout border design*/
 /*Flexboxes for positioning the navigation links*/
  display: -webkit-flex; /*Googlechrome*/
  display: -moz-flex; /*mozilla firefox*/
  display: -ms-flex; /*microsoft internet explorer*/
  display: -o-flex; /*opera*/
  display: flex; /* Display flebox a container that expands items to fill available free space or shrinks them to stop congestion*/
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: black;
  padding: 15px 70px;
  border-style: solid;
  border-radius: 1px;
  border-color: black;
}

header a {
  text-decoration: none;
  color: #fff;
}

/*Archane Games Title Uppercase*/
header h2 {
  list-style: none;
  text-transform: uppercase;
  color: white;
} 

/* Styling for Modal starts here*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: rgb(6, 6, 68);
  color: white;
}

.modal-body {
  padding: 2px 16px;
}
