@import "normalize.min.css";

img {
  max-width: 100%;
}

html {
  font-family: "Maven Pro", sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5em;
  margin-top: 0;
}

/*header Section*/

header {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  /* navigation header layout border design*/
  /*Flexboxes for positioning the navigation links*/
  display: -webkit-flex; /*Googlechrome*/
  display: -moz-flex; /*mozilla firefox*/
  display: -ms-flex; /*microsoft internet explorer*/
  display: -o-flex; /*opera*/
  display: flex; /* Display flebox a container that expands items to fill available free space or shrinks them to stop congestion*/
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: black;
  padding: 15px 70px;
  border-style: solid;
  border-radius: 1px;
  border-color: black;
}

header a {
  text-decoration: none;
  color: #fff;
}

/*Archane Games Title Uppercase*/
header h2 {
  list-style: none;
  text-transform: uppercase;
  color: white;
}
/*Glitch */
.content {
  width: 100%;
  height: 100%;
  display: flex;
}
.content .text {
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  transform: scale(2);
  padding: 30px;
  letter-spacing: 2px;
  align-items: center;
  text-transform: uppercase;
}
.content .text:before,
.content .text:after {
  padding: 30px;
  color: white;
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  top: 0;
}
.content .text:before {
  left: 3px;
  text-shadow: -2px 0 purple;
  animation: glitch-1 2s linear infinite reverse;
}
.content .text:after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation: glitch-2 2s linear infinite reverse;
}
@keyframes glitch-1 {
  0% {
    clip: rect(132px, auto, 101px, 30px);
  }
  5% {
    clip: rect(17px, auto, 94px, 30px);
  }
  10% {
    clip: rect(40px, auto, 66px, 30px);
  }
  15% {
    clip: rect(87px, auto, 82px, 30px);
  }
  20% {
    clip: rect(137px, auto, 61px, 30px);
  }
  25% {
    clip: rect(34px, auto, 14px, 30px);
  }
  30% {
    clip: rect(133px, auto, 74px, 30px);
  }
  35% {
    clip: rect(76px, auto, 107px, 30px);
  }
  40% {
    clip: rect(59px, auto, 130px, 30px);
  }
  45% {
    clip: rect(29px, auto, 84px, 30px);
  }
  50% {
    clip: rect(22px, auto, 67px, 30px);
  }
  55% {
    clip: rect(67px, auto, 62px, 30px);
  }
  60% {
    clip: rect(10px, auto, 105px, 30px);
  }
  65% {
    clip: rect(78px, auto, 115px, 30px);
  }
  70% {
    clip: rect(105px, auto, 13px, 30px);
  }
  75% {
    clip: rect(15px, auto, 75px, 30px);
  }
  80% {
    clip: rect(66px, auto, 39px, 30px);
  }
  85% {
    clip: rect(133px, auto, 73px, 30px);
  }
  90% {
    clip: rect(36px, auto, 128px, 30px);
  }
  95% {
    clip: rect(68px, auto, 103px, 30px);
  }
  100% {
    clip: rect(14px, auto, 100px, 30px);
  }
}
@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 4px, 30px);
  }
  10% {
    clip: rect(85px, auto, 66px, 30px);
  }
  15% {
    clip: rect(91px, auto, 91px, 30px);
  }
  20% {
    clip: rect(148px, auto, 138px, 30px);
  }
  25% {
    clip: rect(38px, auto, 122px, 30px);
  }
  30% {
    clip: rect(69px, auto, 54px, 30px);
  }
  35% {
    clip: rect(98px, auto, 71px, 30px);
  }
  40% {
    clip: rect(146px, auto, 34px, 30px);
  }
  45% {
    clip: rect(134px, auto, 43px, 30px);
  }
  50% {
    clip: rect(102px, auto, 80px, 30px);
  }
  55% {
    clip: rect(119px, auto, 44px, 30px);
  }
  60% {
    clip: rect(106px, auto, 99px, 30px);
  }
  65% {
    clip: rect(141px, auto, 74px, 30px);
  }
  70% {
    clip: rect(20px, auto, 78px, 30px);
  }
  75% {
    clip: rect(133px, auto, 79px, 30px);
  }
  80% {
    clip: rect(78px, auto, 52px, 30px);
  }
  85% {
    clip: rect(35px, auto, 39px, 30px);
  }
  90% {
    clip: rect(67px, auto, 70px, 30px);
  }
  95% {
    clip: rect(71px, auto, 103px, 30px);
  }
  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}
/*navigation header link Design*/
/* navigation header design*/
header nav li {
  margin: 0 15px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 15px;
  color: white;
}

/*navigation header hover button design mouse hovering*/
header nav li a {
  margin: 0 50px;
  display: flex;
  justify-content: flex-end;
  /*Delay of mouse hovering*/
  transition: all 0.3s ease 0s;
  color: #fff;
}
/*Delay of mouse hovering change to black*/
header nav li a:hover {
  color: purple;
}

/*Media size change for larger devices for the header*/
@media (max-width: 1000px) {
  header {
    padding: 15px 50px;
  }
}

/*Media size change for smaller devices for the header*/
@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 15px;
  }
  header nav li {
    margin: 0 8px;
  }
}

/*Glitch content*/
p {
  line-height: 1.5;
}

.heading-lg {
  font-size: 2rem;
}

.heading-lg:after {
  content: "";
  background: url("text-separator.svg");
  display: block;
  height: 10px;
  background-position: left;
  background-repeat: no-repeat;
  display: block;
  margin-top: 0.5em;
  width: 100%;
}

/* Single Slide */
.cyber-slider {
  background: black;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 500px;
  padding: 30px 15px;
}

.cyber-slider__wrapper {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.cyber-slider__slide {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.cyber-slider__slide.active {
  z-index: 999;
}

.cyber-slider__slide.active:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: 0.1s;
  transform: translatex(0);
}

/* Img */
.cyber-slider__imgwrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cyber-slider__imgwrap:after {
  content: "";
  display: block;
}

.cyber-slider__imgwrap img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transform: scale(1.5) translate(20%);
  transition: 0.1s;
}

.cyber-slider__slide.active:not(.glitching) .cyber-slider__imgwrap img {
  transform: scale(1);
}

/* Content */
.cyber-slider__content {
  position: relative;
  z-index: 1;
}

.cyber-slider__slidetext {
  max-width: 650px;
  background: #f9eb06;
  width: auto;
  padding: 30px;
  position: relative;
  margin: 30px 15px 60px 15px; /* to compensate for the after element*/
}

.cyber-slider__slidetext:after {
  content: "";
  display: block;
  left: 0;
  bottom: -30px;
  height: 30px;
  width: 100%;
  background: url("bottom-separator.svg");
  background-position: 0 0px;
  position: absolute;
  max-width: 100%;
}

/* Controls */

.cyber-slider__controls {
  position: absolute;
  z-index: 999;
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.cyber-slider__controls a {
  display: block;
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

.cyber-slider__controls a::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: #f9eb06;
}
.cyber-slider__controls a:hover {
  opacity: 0.8;
}

.cyber-slider__controls .current a {
  background: url("accent-active-bullet.svg");
  background-size: contain;
}

/* Glitch Animations */

.active .cyber-slider__slidetext:after {
  /* animation: glitch 5s linear 2s infinite alternate; */
  /* animation: glitch 5s infinite; */
  animation-name: glitch;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 3;
  animation-direction: step-end;
  animation-timing-function: step-end;
}

.glitching .cyber-slider__imgwrap .glitch-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.glitching .cyber-slider__imgwrap .glitch-area img {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 9999;
  height: 100px;
  animation: blink 0.3s infinite step-end;
}

.glitching .cyber-slider__imgwrap .glitch-area img:nth-child(1) {
  transform: translate(-20%, 90%) scale(1.3);
}

.glitching .cyber-slider__imgwrap .glitch-area img:nth-child(2) {
  transform: translate(10%, 500%) scale(1.3);
  animation-delay: 0.1s;
}

.cyber-slider__slide.active.glitching:after {
  background: rgba(255, 255, 255, 0.4) url(glitch-lines.svg);
  opacity: 1;
  transform: translatex(-10%);
  background-size: contain;

  /* content: "";
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999; */
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes glitch {
  0%,
  100% {
    background-position: 0 0px;
  }
  50% {
    background-position: 0 30px;
  }
}

@media (min-width: 400px) {
  .cyber-slider__slidetext {
    padding: 30px 50px;
    margin: 60px 30px 120px 0px;
  }
}

@media (min-width: 768px) {
  .heading-lg {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .heading-lg {
    font-size: 3rem;
  }

  .cyber-slider {
    min-height: 700px;
  }

  .cyber-slider__controls {
    flex-direction: column;
    right: 0;
    top: calc(50% - 75px);
    bottom: unset;
    left: unset;
  }
}

/* section layout flex containers*/
section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
}

.home-section {
  position: relative;
  background-color: rgb(53, 17, 53);
}

/*Resize section layout */
@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}
@media (max-width: 600px) {
  section {
    padding: 125px 30px;
  }
}

/* Top Vr Games Content*/
/*Section paragraph layout*/
section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

/* Top Vr layout flex containers*/
.about-area {
  background-color: rgb(10, 10, 56);
}

ul.about-content {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-content li {
  padding: 20px;
  height: 290px;
  background-clip: content-box; /*  layout border padding box*/
  /*crop to fit the page for small devices when nescessary*/
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

/* content and Video positioning*/
.about-left {
  flex-basis: 40%;
}

/* content positioning*/
.about-right {
  flex-basis: 60%;
}

/* Top Vr content paragraph layout*/
.about-area p {
  max-width: 800px;
  margin-bottom: 35px;
  line-height: 1.5;
  text-align: left;
  padding-left: 0;
}

/*Top Vr content design layout*/
.section-title {
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 5%;
  color: #fff;
}

/*Top Vr content positioning & layout for devices */
@media (max-width: 1000px) {
  .about-left,
  .about-right {
    flex-basis: 100%;
  }
  .about-content li {
    padding: 8px;
  }
}

body {
  background: rgb(27, 27, 27);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.card {
  background: white;
  width: 200px;
  height: 300px;
  margin: 5px;
  border-radius: 15px 15px 0 0;
}

.card-image {
  background-color: purple;
  height: 170px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}

.space {
  background-color: #fff;
  height: 170px;
  margin-bottom: 15px;
  background-size: cover;
}

.footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #000;
  padding: 60px 0;
}

