@import "normalize.min.css";

img {
  max-width: 100%;
}

html {
  font-family: "Maven Pro", sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5em;
  margin-top: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}


/*header Section*/

header {
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  /* navigation header layout border design*/
  /*Flexboxes for positioning the navigation links*/
  display: -webkit-flex; /*Googlechrome*/
  display: -moz-flex; /*mozilla firefox*/
  display: -ms-flex; /*microsoft internet explorer*/
  display: -o-flex; /*opera*/
  display: flex; /* Display flebox a container that expands items to fill available free space or shrinks them to stop congestion*/
  justify-content: space-between;
  align-items: center;
  background-color: #5C58B6;
  color: black;
  padding: 30px 70px;
  animation: bordercolor 7s linear infinite;
  border: 5px solid #F5C4FC;

}



/*Archane Games Title Uppercase*/
header h2 {
  list-style: none;
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
  
}

/*navigation header link Design*/
/* navigation header design*/
header nav li {

  margin: 0 15px;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 15px;
  color: white;
}

/*navigation header hover button design mouse hovering*/
header nav li a {
  /*Delay of mouse hovering*/
  transition: all 0.3s ease 0s;
  color: white;
  font-family: "Orbitron", sans-serif;
}


/*Delay of mouse hovering change to black*/
header nav li a:hover {
  color: #B957CE;
}

/*Media size change for larger devices for the header*/
@media (max-width: 1000px) {
  header {
    padding: 15px 50px;
  }
}

/*Media size change for smaller devices for the header*/
@media (max-width:  700px) {
  header {
    flex-direction: column;
  }
  header h2 {
    margin-bottom: 15px;
  }
  header nav li {
    margin: 0 8px;
  }
}

/*Glitch content*/

.cyber-slider{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
p {
  line-height: 1.5;
}

.heading-lg {
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
}

.heading-lg:after {
  content: "";
  background: url("text-separator.svg");
  display: block;
  height: 10px;
  background-position: left;
  background-repeat: no-repeat;
  margin-top: 0.5em;
  display: block;
  width: 100%;
}

/* Single Slide */
.cyber-slider__content {
  opacity: 1;
}

.cyber-slider {
  background: black;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 500px;
  padding: 30px 15px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cyber-slider__wrapper {
  list-style: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.cyber-slider__slide {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.cyber-slider__slide.active {
  z-index: 999;
}

.cyber-slider__slide.active:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: 0.1s;
  transform: translatex(0);
}

/* Img */
.cyber-slider__imgwrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cyber-slider__imgwrap:after {
  content: "";
  display: block;
}

.cyber-slider__imgwrap img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transform: scale(1.5) translate(20%);
  transition: 0.1s;
}

.cyber-slider__slide.active:not(.glitching) .cyber-slider__imgwrap img {
  transform: scale(1);
}

/* Content */
.cyber-slider__content {
  position: relative;
  z-index: 1;
}

.cyber-slider__slidetext {
  max-width: 650px;
  background: #f9eb06;
  border-style: solid;
  border: 1px;
  border-color: rgb(255, 137, 0);
  width: auto;
  padding: 30px;
  position: relative;
  margin: 30px 15px 60px 15px; /* to compensate for the after element*/
}

.cyber-slider__slidetext:after {
  content: "";
  display: block;
  left: 0;
  bottom: -30px;
  height: 30px;
  width: 100%;
  background: url("bottom-separator.svg");
  background-position: 0 0px;
  position: absolute;
  max-width: 100%;
}

/* Controls */

/* Change Color*/

.cyber-slider__controls {
  position: absolute;
  z-index: 999;
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
}

.cyber-slider__controls a {
  display: block;
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
}

.cyber-slider__controls a::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background:  #5C58B6;
}
.cyber-slider__controls a:hover {
  opacity: 0.8;
}

.cyber-slider__controls .current a {
  background: url("accent-active-bullet.svg");
  background-size: contain;
}

/* Glitch Animations */

.active .cyber-slider__slidetext:after {
  /* animation: glitch 5s linear 2s infinite alternate; */
  /* animation: glitch 5s infinite; */
  animation-name: glitch;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 3;
  animation-direction: step-end;
  animation-timing-function: step-end;
}

.glitching .cyber-slider__imgwrap .glitch-area {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.glitching .cyber-slider__imgwrap .glitch-area img {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 9999;
  height: 100px;
  animation: blink 0.3s infinite step-end;
}

.glitching .cyber-slider__imgwrap .glitch-area img:nth-child(1) {
  transform: translate(-20%, 90%) scale(1.3);
}

.glitching .cyber-slider__imgwrap .glitch-area img:nth-child(2) {
  transform: translate(10%, 500%) scale(1.3);
  animation-delay: 0.1s;
}

.cyber-slider__slide.active.glitching:after {
  background: rgba(255, 255, 255, 0.4) url(glitch-lines.svg);
  opacity: 1;
  transform: translatex(-10%);
  background-size: contain;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes glitch {
  0%,
  100% {
    background-position: 0 0px;
  }
  50% {
    background-position: 0 30px;
  }
}

@media (min-width: 400px) {
  .cyber-slider__slidetext {
    padding: 30px 50px;
    margin: 60px 30px 120px 0px;
  }
}

@media (min-width: 768px) {
  .heading-lg {
    font-size: 3rem;
  }

  p {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .heading-lg {
    font-size: 3rem;
  }

  .cyber-slider {
    min-height: 700px;
  }

  .cyber-slider__controls {
    flex-direction: column;
    right: 0;
    top: calc(50% - 75px);
    bottom: unset;
    left: unset;
  }
}

.content {
  color:  #5C58B6;
  font-family: "VT323", monospace;
}

/* section layout flex containers*/
section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
}

.home-section {
  position: relative;
  background-color: #5C58B6;
}

/*Resize section layout */
@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}
@media (max-width: 600px) {
  section {
    padding: 125px 30px;
  }
}

/* Shard reward section*/

.shard h5{
  color: #F5C4FC;
  font-size: 70px;
}

.checkin {
  padding: 15px 50px;
  background-color:#B957CE;
  color:white;
  padding: 25px 50px;
  text-transform: uppercase;
  text-decoration: none;
  border-style: solid;
  border-radius: 50px;


}

/*h3 Color Title section*/
.section-title{
  color:White;
  font-size: 80px;

}

body {
  margin: 0;
  padding: 0;
  height: 100vh;

}
.shard{
  background-color:#5C58B6;

}

#imageHolder {
  width: 200px;
  height: 200px;
  line-height: 50px;
}
#imageHolder img {
  max-width: 50%;
  max-height:50%;
  display: inline-block; /* Instead of display: block; */
  margin: 0 auto;
  vertical-align: middle;
}


@media screen and (max-width: 920px){
  .section-title{
    color:white;
    font-size: 30px;
    font-display: center;
  
  }
  body {
    background-size: cover;

}
}

#Gallery {
	background:#5C58B6;


}

.container {
			display: flex;
			width: 100%;
			background-color:#F5C4FC;
			flex-wrap: wrap;
			/*wrap flex items to a new row if not enough space */

		}

		/* flex item of 20% per item */
		.flex-item {
			padding: 1%;
			flex-grow: 1;
			flex-basis: 20%;
			/* 20% for borders*/

			display: flex;
			flex-direction: column;
			/* so child elements can use flexbox stuff too! */
			/* switching on borders will force the 5th flex item to move down*/
			border: 15px solid #F5C4FC;

		}

		.flex-img img {
			max-width: 100%;
      width: 900px;
      height:400px  ;
		}
    
  /* Resize image to fit iphone x*/ 
		@media (max-width: 920px) {

      .flex-img img {
        max-width: 100%;
        width: 500px;
        height:200px  ;
      }
      .flex-img:hover{
        opacity: .5;
        transition:.9s;
      }
    }

		.flex-info {
			margin-top: auto;
		}

   

		@media (max-width: 920px) {
			.flex-item {
				flex: 1 21%;
        flex-grow:0;
        flex-basis: 45%;
 
			}
      /* This is a flex shorthand */
      /* we set 
        flex-grow: 1; 
        flex-basis: 21%;
        Flex shorthand: https://developer.mozilla.org/en-US/docs/Web/CSS/flex
        Understand flex grow: https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow
      */
		}
    
    
  .flex-img:hover{
  opacity: .5;
  transition:.9s;
}

.lpromo {
  background-color:#5C58B6;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden


}
.lpromo img {
  border: 5px solid rgb(0, 255, 253);
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%

}

.btn {
  padding: 15px 50px;
  background-color:#B957CE;
  color: white;
  padding: 25px 50px;
  text-transform: uppercase;
  text-decoration: none;
  border-style: solid;
  border-radius: 50px;
  border-color: #B957CE;
  font-size: larger;
  font-style: bold;
  
}

.buttons {
  width: 960px;
  margin: 0 auto;
  position: relative;


}
  .action_btn {
  width: 500px;
  margin: 0 auto;
}

.Voucher{

background-color: #5C58B6;

}


footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #5C58B6;
  padding: 60px 0;


}
